<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <div class="d-flex flex-wrap justify-content-center mb-4">
            <a class="mx-2 mb-2" href="#">Home</a>
            <a class="mx-2 mb-2" href="#">About Us</a>
            <a class="mx-2 mb-2" href="#">Services</a>
            <a class="mx-2 mb-2" href="#">Contact Us</a>
            <a class="mx-2 mb-2" href="#">Privacy Policy</a>
          </div>
          <div class="copyright">
            Copyright © {{ currentYear }} Smart Device Setup. All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
  </footer>